::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 4rem;
    font-weight: bolder;

}

.value {
    font-size: 6rem;
    font-weight: bolder;
}

.btn {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 14px 28px;
    font-size: 14px;
    cursor: pointer;
}